* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

.slider-wrapper {
    --unit: min(1vw, 1vh);
    --background-color: #2C3E50;

    background-color: var(--background-color);
    padding: calc(var(--unit) * 1.5);
    border-radius: var(--unit);
}

.slider {
    /* 16:9 for slides */
    --width-unit: 80;
    --height-unit: 45;
    --width: calc(var(--width-unit) * var(--unit));
    --height: calc(var(--height-unit) * var(--unit));
    --bottom-height: calc(var(--height) * .1);

    --images-count: 4;
    --images-width: calc(100% * var(--images-count));
    --image-ratio: calc(100% / var(--images-count));

    --animation-length: .4s;

    width: var(--width);

    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: var(--height) var(--bottom-height);
    row-gap: calc(var(--height) * .05);

    font-size: var(--bottom-height);
    overflow-x: hidden;
}

.images {
    grid-column: span 2;
    width: var(--images-width);
    display: flex;
}

.images > div {
    width: var(--image-ratio);
    transition: margin-left var(--animation-length) ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.images > div > img {
    max-width: 100%;
    max-height: 100%;
}

.texts {
    color: #ECF0F1;
    font-size: .5em;
    line-height: 90%;
    position: relative;
}

.texts > div {
    position: absolute;
    opacity: 0;
}

.labels {
    display: flex;
}

.labels > label {
    --label-size: .6em;

    width: var(--label-size);
    height: var(--label-size);

    display: flex;
    justify-content: center;
    align-items: center;
}

.labels > label > span {
    --dot-size: calc(var(--label-size) * .3);
    --dot-color: #3498DB;

    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: var(--dot-size);

    background-color: var(--dot-color);
    border: calc(var(--dot-size) * .3) solid var(--dot-color);

    transition: background-color var(--animation-length), border-color var(--animation-length);
}

.labels > label:hover {
    cursor: pointer;
}

.labels > label:hover > span {
    --hover-color: #ECF0F1;

    background-color: var(--hover-color);
    border-color: var(--hover-color);
}


/* labels */
#r1:checked ~ .labels > label:nth-of-type(1) > span {
    background-color: transparent;
}

#r2:checked ~ .labels > label:nth-of-type(2) > span {
    background-color: transparent;
}

#r3:checked ~ .labels > label:nth-of-type(3) > span {
    background-color: transparent;
}

#r4:checked ~ .labels > label:nth-of-type(4) > span {
    background-color: transparent;
}

/* images */
#r1:checked ~ .images > div:nth-of-type(1) {
    margin-left: calc(0 * var(--image-ratio));
}

#r2:checked ~ .images > div:nth-of-type(1) {
    margin-left: calc(-1 * var(--image-ratio));
}

#r3:checked ~ .images > div:nth-of-type(1) {
    margin-left: calc(-2 * var(--image-ratio));
}

#r4:checked ~ .images > div:nth-of-type(1) {
    margin-left: calc(-3 * var(--image-ratio));
}

/* texts */
#r1:checked ~ .texts > div:nth-of-type(1) {
    animation: opacity var(--animation-length) ease-in;
    opacity: 1;
}

#r2:checked ~ .texts > div:nth-of-type(2) {
    animation: opacity var(--animation-length) ease-in;
    opacity: 1;
}

#r3:checked ~ .texts > div:nth-of-type(3) {
    animation: opacity var(--animation-length) ease-in;
    opacity: 1;
}

#r4:checked ~ .texts > div:nth-of-type(4) {
    animation: opacity var(--animation-length) ease-in;
    opacity: 1;
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-device-width: 1024px) {
    .slider {
        --width-unit: 96;
        --height-unit: 54;

        grid-template-columns: 1fr;
        grid-template-rows: var(--height) repeat(2, var(--bottom-height));
    }

    .images {
        grid-column: span 1;
        order: 1;
    }

    .texts {
        order: 3;
    }

    .labels {
        justify-self: center;
        order: 2;
    }
}